<div class="survey_block">
  <p class="survey_question_title"><%=t("evmethods.all.item_comments.name")%></p>
  <p class="survey_question_subtitle"><%=t("evmethods.all.item_comments.description")%></p>
  <%= f.text_area :comments, :class=>'loep_input commentsItem optionalInput', :readonly => readonly ? "true" : nil %>
</div>