<div class="survey_block">
  <p class="survey_question_title"><%=t("evmethods.all.item_score.name")%></p>
  <p class="survey_question_subtitle"><%=t("evmethods.all.item_score.description")%></p>
  <%= f.number_field :score, :class=>'loep_input optionalInput', :step=> 0.1, :min=>0, :max=>10, :readonly => readonly ? "true" : nil %>
</div>