<table cellspacing='0' class="loep_table">
  <tr>
    <th>Learning Object</th>
    <th>Evaluation Method</th>
    <th></th>
  </tr>
  <% @evaluations.each do |ev| %>
    <tr>
      <td><a href="<%=lo_path(ev.lo)%>"><%= ev.lo.name %></a></td>
      <td>
        <span><%=ev.evmethod.name%></span>
      </td>
      <td class="tdcenter tdrshow">
        <a href="<%=ev.evaluation_path%>"><span class="glyphicon glyphicon-eye-open"></span></a>
      </td>
    </tr>
  <% end %>
</table>