<div id="wrapper">
  <div id='container'>
    <p>Your evaluation of the Learning Object "<%=@evaluation.lo.name%>" has been succesfully submitted.</p>
    <p>Thank you for your collaboration.</p>
    <p>You may close this window.</p>
  </div>
</div>

