<div id="wrapper">
  <div id="container">
    <p><%=t("evaluations.embed.message.a", :lo=>@evaluation.lo.name)%></p>
    <p><%=t("evaluations.embed.message.b")%></p>
    <p><%=t("evaluations.embed.message.c")%></p>
  </div>
</div>