<h1 class="loep_title loep_title_with_bottom_margin"><%=t("evaluations.name.plural")%></h1>
<%= render '/evaluations/index', :showTools => true %>
<p class="link_wrapper"><%= render '/evaluations/downloadlink' %></p>