<h1 class="loep_title"><%=t("los.search.custom")%></h1>

<p>&nbsp;</p>

<%unless @los.nil? %>
	<h1 class="loep_title"><%=t("los.name.plural")%></h1>
	<%= render '/los/index', :showTools => true %>
	<div class="link_wrapper"><%= render '/los/downloadlink' %></div>
<%end%>