*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
Gemfile~
.gitignore~
README.md~
/dumps/*
config/database.yml
config/application_config.yml
public/lom_metadata.xml
config/deploy/*
!config/deploy/example.yml
reports/*
loep_plugins/*
!loep_plugins/loep_stars
!loep_plugins/loep_une71362