<h1 class="loep_title"><%=t("assignments.name.plural")%></h1>
<%= render '/assignments/index', :showTools => true %>
<p class="link_wrapper"><%= link_to t("menu.actions.add_new"), new_assignment_path %></p>

