<div class="loep_form_wrapper">
	<h2><%= params[:link]=="true" ? t("session_tokens.new_link") : t("session_tokens.new") %></h2>
</div>

<%= render 'form' %>

</br>
<div class="loep_form_wrapper">
	<%= generic_back_link %>
</div>