<div class="loep_form_wrapper">
  <h2>LORI v1.5 Items Rating Survey</h1>
  <p class="form_before_button">&nbsp;</p>
  <p> The following survey is intended to evaluate the importance of the different LORI v1.5 items. Based on the results of this survey, a Learning Object LORI Quality Metric is defined, and the scores for the Learning Objects are calculated.</p>
  <p> For each of the items, rate the importance that it has for you regarding pedagogical quality in a scale from 0 to 10, being 0 valueless and 10 extremely valuable. </p>
</div>

<div class="loep_form_wrapper">
  <p class="form_before_button">&nbsp;</p>

  <%= form_for(@ranking) do |f| %>
   
    <p> Formulario aqui </p>

    <p class="form_before_button">&nbsp;</p>
    <p class="form_before_button">&nbsp;</p>
    <%= f.submit "Submit Survey", :class => 'loep_button' %>
  <% end %>
</div>

</br>
<div class="loep_form_wrapper">
  <%= link_to 'Back', :back %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    console.log("DocumentReady");
  });
</script>
