<% contexts ||= Hash.new %>

<% unless contexts[:print_context].blank? %>
  <%= render 'evaluations/common_partials/print_context', :f => f , :readonly => readonly, :items => contexts[:print_context] %>
<%end%>
<% unless contexts[:user_context].blank? %> 
  <%= render 'evaluations/common_partials/user_context', :f => f , :readonly => readonly, :items => contexts[:user_context] %>
<%end%>
<% unless contexts[:lo_context].blank? %> 
  <%= render 'evaluations/common_partials/lo_context_print', :f => f , :readonly => readonly, :items => contexts[:lo_context] %>
<%end%>

<%unless contexts.blank? %>
  <br/><br/><br/><br/><br/><br/>
  <div class="survey_block survey_block_after_context">
    <p class="survey_supersection_title"><%=t("evaluations.form.subsection_title")%></p>
  </div>
<%end%>