<% itemName ||= "titem" + nItem.to_s %>

<div class="survey_block">
	<p class="survey_question_title"><%=item[:name]%></p>
	<%unless item[:description].blank?%>
		<p class="survey_question_subtitle"><%=item[:description]%></p>
	<%end%>

  <%= f.text_area itemName, :class=>'loep_input evaluation_survey_text_item_input optionalInput', :readonly => readonly ? "true" : nil %>
</div>