<script type="text/javascript">
  $(document).ready(function(){
    <% if !readonly %>

      $('.hover-star').rating({
          focus: function(value, link){
              var ratingWrapper = $("div.rating_wrapper").has(this);

              var tip = $(ratingWrapper).find("div.hover-start_text");
              var title = $(link).attr("ititle");
              if(typeof title == "undefined"){
                title = $(link).attr("title");
                $(link).removeAttr("title");
                $(link).attr("ititle",title);
              }
              var text = "<div class='numberCircle'>"+title+"</div>";
              tip.html(text);
          },
          blur: function(value, link){
              var ratingWrapper = $("div.rating_wrapper").has(this);
              var tip = $(ratingWrapper).find("div.hover-start_text");
              updateCircle(tip);
          },
          callback: function(value, link){
            if(typeof value == "undefined"){
              return;
            }

            var ratingWrapper = $("div.rating_wrapper").has(this);

            var tip = $(ratingWrapper).find("div.hover-start_text");
            $(tip).attr("selectedValue",value);

            var remove = $(ratingWrapper).find("div.remove_item-value");
            $(remove).fadeIn().css("display","inline-block");

            var naInput = $(ratingWrapper).find("input.na-input");
            if($(naInput).length > 0){
              $(naInput)[0].checked = false
              $(naInput).trigger("change");
            }

          }
      });
  
      $(document).on('click', 'div.remove_item-value', function(event){
          var ratingWrapper = $("div.rating_wrapper").has(this);

          var tip = $(ratingWrapper).find("div.hover-start_text");
          $(tip).removeAttr("selectedValue");

          var ratingCancelButton = $(ratingWrapper).find("div.rating-cancel > a");
          $(ratingCancelButton).trigger("click");

          var naInput = $(ratingWrapper).find("input.na-input");
          if($(naInput).length > 0){
            $(naInput)[0].checked = false
            $(naInput).trigger("change");
          }

          $(tip).fadeOut(function(){
            $(tip).html("");
            $(tip).css("display","inline-block");
          });

          $(this).fadeOut();
      });

      $(document).on('change', 'input.na-input', function(event){
        if(this.checked){
          var ratingWrapper = $("div.rating_wrapper").has(this);

          var ratingCancelButton = $(ratingWrapper).find("div.rating-cancel > a");
          $(ratingCancelButton).trigger("click")

          var tip = $(ratingWrapper).find("div.hover-start_text");
          $(tip).attr("selectedValue",$(this).attr("title"));
          updateCircle(tip);

          var remove = $(ratingWrapper).find("div.remove_item-value");
          $(remove).fadeIn().css("display","inline-block");
        }
      });

      var updateCircle = function(starTextDOM){
        var selectedValue = $(starTextDOM).attr("selectedValue");
        if(selectedValue){
          var classes = 'numberCircle';
          var na = '<%=t("forms.evmethod.na")%>';
          if(selectedValue == na){
            classes += " numberCircleSmall";
          }
          var text = "<div class='"+ classes +"'><span>"+selectedValue+"</span></div>";
        }
        $(starTextDOM).html(text || '');
      };

      //Load UI when editing evaluations
      $(".rating_wrapper").each(function(index,ratingWrapper){
        $(ratingWrapper).find("input:checked").trigger("change");
        var tip = $(ratingWrapper).find("div.hover-start_text");
        updateCircle(tip);
      });

    <% else %>
      $('.hover-star').rating();
      $('.hover-star').rating(
        'readOnly'
      );
    <% end %>

  });
</script>