<div class="home_block">
	<h1 class="loep_title"> My Assignments </h1>
	<%= render :partial => '/assignments/rindex' %>
	<% unless @assignments.length === 0 %>
		<p class="link_wrapper"><%= link_to "View all", assignments_path %></p>
	<% end %>
</div>

<% unless @evaluations.length === 0 %>
	<div class="home_block">
		<h1 class="loep_title"> My Evaluations </h1>
		<%= render :partial => '/evaluations/rindex' %>
		<p class="link_wrapper"><%= link_to "View all", evaluations_path %></p>
	</div>
<% end %>