<h1> FRONT PAGE </h1>

<h1> Welcome to the Learning Object Evaluation Platform</h1>

<%= render 'home/login' %>

<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign up", new_user_registration_path, :method => :get %>