<div id="home_header">
	<h1><%=t("frontpage.welcome")%></h1>
	<p><%=t("frontpage.description")%></p>
</div>
<% if iamAdmin? %>
	<%= render 'home/homeadmin' %>
<% else %>
	<%= render 'home/homereviewer' %>
<% end %>

