<%= render 'application/rgraph' %>
<p class="space-large"></p>

<div class="graphWrapper">
	<canvas id="graphCanvas">[No canvas support]</canvas>
</div>

<script>
	$(document).ready(function(){
		var canvas = $("#graphCanvas");
		var canvasContainer = $(canvas).parent();

		var newWidth = $(canvasContainer).width()*0.8;
		var newHeight = newWidth * 4/6;
		$(canvas).attr("width",newWidth);
		$(canvas).attr("height",newHeight);
		$(canvas).width(newWidth);
		$(canvas).height(newHeight);

		drawCanvas();
	});
var graphValues;
	var drawCanvas = function(){
		graphValues = <%=@representationData["iScores"]%>;
		
		var graphLabels = [];
		<%@representationData["labels"].each do |l|%>
			graphLabels.push('<%=l%>');
		<% end %>

	    var radar = new RGraph.Radar('graphCanvas',graphValues)
			.Set('labels', graphLabels)
			.Set('labels.axes', '')
			.Set('tooltips', graphValues.map(function(v){return v.toString()}))
			.Set('background.circles.poly', true)
			.Set('background.circles.spacing', 30)
			.Set('colors', ['Gradient(white:green:green)', 'Gradient(white:green:green)', 'Gradient(white:yellow)'])
			.Set('colors.alpha', 0.3)
			.Set('axes.color', 'rgba(0,0,0,0)')
			.Set('highlights', true)
			.Set('gutter.top', 35)
			.Set('accumulative', true)
			.Set('strokestyle', 'black')
			.Draw();

	};
</script>