<table cellspacing='0' class="loep_table">
  <tr>
    <th></th>
    <th>Documentation</th>
    <th>Evaluate</th>
  </tr>
  <% @evmethods.each_with_index do |ev,i| %>
    <tr>
       <td>
        <span><%= ev.name %></span></a>
      </td>
      <td class="tdcenter">
        <a href="<%=ev.documentation_path%>"><span class="glyphicon glyphicon-book"></span> View</a>
      </td>
      <td class="tdcenter">
        <a href="<%=ev.new_evaluation_path(@lo)%>"><button class="loep_button"><span class="glyphicon glyphicon-star-empty"></span> Evaluate with <%= ev.name %></button></a>
      </td>
    </tr>
  <% end %>
</table>

