<p class="space_medium">&nbsp;</p>
<h1 class="loep_title"> Search results </h1>
<p class="space_extra_small">&nbsp;</p>
<%= render '/los/index', :showTools => true, :fullmessage => "No results found." %>
<p class="link_wrapper"><%= render '/los/downloadlink' %></p>