<div class="show_wrapper loep_form_wrapper">
  <h2>Stats for the following Learning Objects</h2>
  
  <%= render '/los/index', :showTools => true, :showToolActions => false, :displayedEntries => 5 %>




</div>
