#Copy this file to application_config.yml
#Configure here all the variables of your LOEP instance.

development:
  domain: "localhost:8080"
  mail:
    no_reply_mail: "no-reply@loep.global.dit.upm.es"
    main_mail: "no-reply@loep.global.dit.upm.es"
    #Enable Exception Notification
    #exception_notification_mails: ["mynotificationmail"]
    # Type can be "SENDMAIL" or "SMTP" (default)
    type: "SMTP"
    #  gmail_credentials:
    #    username: ""
    #    password: ""
  # Your secret key for verifying the integrity of signed cookies.
  # If you change this key, all old signed cookies will become invalid!
  # Make sure the secret is at least 30 characters and all random,
  # no regular words or you'll be exposed to dictionary attacks.
  # This token is also used as secret key for Devise to generate the random tokens.
  # Execute 'bundle exec rake secret' to generate a new secret_token and copy it here
  secret_token: ""
  # Uncomment to enable recaptcha. Get your own keys from https://www.google.com/recaptcha
  # recaptcha:
  #   public_key: ""
  #   private_key: ""
  plugins: ["loep_stars"]
  evmethods: ["LORI v1.5","LOEM","WBLT-S","WBLT-T","Metadata Quality"]
  metrics: ["LORI Arithmetic Mean","LORI WAM CW","LOEM Arithmetic Mean","WBLT-S Arithmetic Mean","WBLT-T Arithmetic Mean","LOM Metadata Quality","LOM Completeness Metadata Quality"]
  allow_external_evaluations: ["WBLT-S","WBLT-T"]
  #Register Policy valid values ["FREE","INVITATION_ONLY","HYBRID"]
  register_policy: "FREE"
  #Default role can be any LOEP role ["User","Reviewer",...]
  default_role: "User"

production:
  domain: "loep.global.dit.upm.es"
  mail:
    no_reply_mail: "no-reply@loep.global.dit.upm.es"
    main_mail: "no-reply@loep.global.dit.upm.es"
  secret_token: ""
  # recaptcha:
  #   public_key: ""
  #   private_key: ""
  evmethods: ["LORI v1.5","LOEM","WBLT-S","WBLT-T","Metadata Quality"]
  metrics: ["LORI Arithmetic Mean","LORI WAM CW","LOEM Arithmetic Mean","WBLT-S Arithmetic Mean","WBLT-T Arithmetic Mean","LOM Metadata Quality","LOM Completeness Metadata Quality"]
  allow_external_evaluations: ["WBLT-S","WBLT-T"]
  register_policy: "FREE"
  default_role: "User"