<h1>Welcome to LOEP, <%= @email %>.</h1>
<p>
  You have successfully signed up to LOEP, your username is: <%= @email %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @signinURL %>.
</p>
<p>Thanks for joining!</p>