<h1 class="loep_title loep_title_with_bottom_margin"><%=t("applications.name.plural")%></h1>
<%= render '/apps/index', :showTools => true %>
<p class="link_wrapper"><%= link_to t("applications.actions.add_new"), new_app_path %></p>

