.documentation_container {
	width: 100%
}

.documentation_container h1 {
	font-size: 1.25rem;
}

.documentation_container h2 {
	font-size: 1.15rem;
}

.documentation_container p.grey {
	color: #666;
	font-size: 0.8rem;
}

.documentation_container ul {
	list-style-type: none;
	padding: 5px 5px 5px 5px;
}

.documentation_container ul li {
	margin-bottom: 10px;
}

.doc_entry {
	margin-right: 10px;
	font-size: 0.8rem;
	color: #333;
	font-weight: bold;
}

img.doc_file {
	height: 40px;
	max-width: 60px;
}

img.doc_file_link {
	height: 25px !important;
}

div.documentation_container table.loep_table td.doc_file {
	max-width: 80px;
	text-align: center;
}

div.documentation_container table.loep_table td.locale {
	max-width: 60px;
	text-align: center;
}