/*
 * Evaluation Web forms
 */

div.survey_block {
  margin-bottom: 20px;
}

.survey_title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.survey_question_title {
  font-size: 0.9rem;
  background-color: #2B4923;
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding: 2px 6px;
  border: 1px solid #373736;
  margin-bottom: 5px;
  font-weight: bold;
}

.survey_question_subtitle {
  font-size: 0.75rem;
  color: #666;
  margin-bottom: 5px;
}

.survey_question_group_title {
  font-size: 0.9rem;
  background-color: black;
  color: white;
  border-radius: 0px 5px 5px 0px;
  padding: 2px 6px;
  border: 1px solid #373736;
  margin-bottom: 15px;
  font-weight: bold;
}

div.rating_wrapper {
  display: block;
  min-height: 44px;
  overflow: hidden;
  font-size: 0.7rem;
}

div.stars_wrapper {
  display: inline-block;
  float: left;
  margin-top: 13px;
}

.hover-star_legend_left {
  float: left;
  margin-right: 10px;
}

.hover-star_legend_right {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.hover-star_legend_left, .hover-star_legend_right{
  font-size: 0.7rem;
}

div.rating-cancel, div.rating-cancel a {
  display: none !important;
}

div.hover-start_text {
  display: inline-block;
  margin-left: 15px;
  cursor: default;
}

div.remove_hover-start-value {
  margin-left: 5px;
  cursor: pointer;
  display: none;
}

.numberCircle {
  display: inline-block;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  padding: 2px;
  background: #fff;
  border: 3px solid black;
  color: black;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 18px;
}

.numberCircle span {
  display: block;
}

.numberCircleSmall span {
  margin-top: 5px;
  font-size: 0.8rem;
}

div.remove_item-value {
  display: none;
  margin-left: 15px;
  cursor: pointer;
  margin-top: 14px;
  vertical-align: top;
  font-size: 0.7rem;
}

.survey_block .loep_input { 
  width: 100%;
}

div.na-check{
  display: inline-block;
  margin-top: 11px;
  margin-left: 10px;
  float: left;
}

p.survey_block_top_space{
  margin-bottom: 10px;
  margin-top: 0px;
}

/* More Styles */

div.rating_wrapper_column1 {
  display: inline-block;
  width: 80%;
  padding-right: 1%;
  margin-top: 8px;
}

div.rating_wrapper_column2 {
  display: inline-block;
  width: 18%;
  margin-top: 13px;
  vertical-align: top;
}

div.rating_wrapper_column1 > p.input_wrapper > span {
  margin-left: 5px;
}

p.input_wrappers_header {
}

p.item_group_separator{
  margin-bottom: 0px;
}

p.or_input_separator {
  margin-top: -8px;
  margin-bottom: 2px;
}

p.or_block_separator {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 10px;
}

textarea.evaluation_survey_text_item_input{
  margin-bottom: 15px;
}

/* Modify specific forms */

div.lori_evmethod_form_wrapper .survey_block_top_space {
  margin-bottom: 1px;
}

div.loem_evmethod_form_wrapper div.survey_block{
  margin-bottom: 30px !important;
}

div.loem_evmethod p.survey_question_subtitle{
  margin-bottom: 12px;
}

div.loem_evmethod_form_wrapper .numberCircle {
  margin-left: 1px;
}


/* Adapt survey views for small screens (including Mobile devices) */
@media (max-width: 600px) {
  .loep_form_wrapper{
    padding: 0% 2% 0% 2% !important;
  }
  p.survey_question_title{
    margin-bottom: 0px;
  }
  p.survey_question_group_title{
    margin-bottom: 5px !important;
  }
  p.survey_question_title, p.survey_question_group_title{
    font-size: 0.6rem !important;
  }
  p.survey_title {
    font-size: 1.2rem !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  p.survey_question_subtitle {
    font-size: 0.65rem !important;
  }
  div.survey_block, div.survey_block_only_with_title, div.loem_evmethod_form_wrapper div.survey_block{
    margin-bottom: 12px !important;
  }
  div.numberCircle, div.remove_item-value {
    display: none !important;
  }
  div.rating_wrapper_column1{
    width: 95%;
  }
  div.rating_wrapper_column2{
    display: none;
  }
  p.survey_block_top_space{
    margin-bottom: 1px !important;
  }
  textarea.commentsItem, textarea.evaluation_survey_text_item_input{
    max-height: 60px !important;
  }
}

@media (max-width: 300px){
  div.stars_wrapper{
    display: block !important;
    margin-top: 9px;
  }
  span.hover-star_legend_left{
    float: none !important;
    display: block!important;
    margin-bottom: 2px;
    text-align: left;
  }
  span.hover-star_legend_right{
    float: none !important;
    display: block !important;
    margin-top: 21px;
    text-align: right;
  }
}

