.new_lo_form input.loep_input {
	width: 80% !important
}

.new_lo_form textarea.loep_input {
	width: 80% !important;
	max-height: 150px;
}

.new_lo_form select.loep_input {
	width: 80% !important;
}

.new_lo_form #tags_tagsinput {
	width: 80% !important;
}

.loep_table_selected_los{
	font-size: 0.7rem;
}