/* Login */

.login_email_input {
	width: 100%;
}

.login_password_input {
	width: 68%;
}

.login_email_input, .login_password_input {
	margin-bottom: 8px;
}

.sign_in_button, .sign_up_button {
	width: 30%;
}

.update_button {
	width: 30%;
}

.cancel_button {
}

.sign_up_button {
	text-decoration: none;
}

.remember_me_label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.forgot_password_label {
	white-space: nowrap;
	margin-left: 15px;
	float: right;
	margin-top: 1px;
}

@media (max-width: 900px) {
	.forgot_password_label {
		float: none;
		margin-left: 0px;
	}
}