/* Profile */

p.profile_legend, p.profile_value {
	margin-bottom: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.profile_legend {
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
}

p.profile_value {
	font-size: 14px;
	font-weight: normal;
}

.profile_wrapper .tagsinput {
	height: auto;
	width: auto;
	border: none;
	padding-left: 0px;
}