ul.rs_loslist{

}

ul.rs_loslist li{
	text-decoration: none;
	list-style: none;
	margin: 0 0 0 0;
}

ul.rs_loslist div.rs_loslistelement{
	margin-bottom: 40px;
	width: 100%;
	overflow: hidden;
	background-color: #F5EFEF;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

div.rs_loslistelement img {
	height: 150px;
	max-width: 200px;
}

div.rs_loslistelement p.rs_title {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
}

div.rs_loslistelement p.rs_url {
	margin-top: 5px;
	margin-bottom: 10px;
}

div.rs_loslistelement_left {
	float: left;
	width: 30%;
}

div.rs_loslistelement_right {
	float: right;
	width: 70%;
}

ul.rs_loslist div.rating_wrapper {
	width: 100%;
	text-align: center;
	padding: 30px;
	margin-top: 25px;
	margin-left: 10px;
	height: 100px;
}

div.validEdrResourceWrapper{
	position: relative;
	bottom: -20px;
	right: 15px;
	text-align: right;
	margin-left: 100px;
	font-size: 0.7rem;
	opacity: 0.7;
}

div.validEdrResourceWrapper.valid  {
	color: #34831F;
}

div.validEdrResourceWrapper.novalid  {
	color: #C40026;
}

ul.rs_loslist2 div.survey_block {
	margin-bottom: 5px !important;
	cursor: pointer;
}

ul.rs_loslist2 .survey_question_title{
	font-size: 0.8rem;
	border-radius: 15px 15px 0px 0px;
}

ul.rs_loslist2 p.survey_question_title {
	margin: 0px;
}

ul.rs_loslist2 div.rs_loslistelement{
	margin-bottom: 5px !important;
	border-radius: 0px 0px 15px 15px;
}

ul.rs_loslist2 img {
	height: 65px;
	max-width: 88px;
}

ul.rs_loslist2 div.rs_loslistelement p.rs_url{
	margin-top: 25px !important;
}

div.rs_loslist2titlewrapper{
	width: 100%;
	text-align: center;
	font-size: 0.9rem;
	color: #999;
}