/* General */

a:focus { 
    outline: none; 
}


/* Layout */

html, body {
	margin:0;
	padding:0;
	height:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: black;
}

body > iframe {
	display: none;
}

#wrapper{
	width: 100%;
	min-height:100%;
	position: absolute;
	overflow: hidden;
}


/* Header */

#header {
	text-align: center;
	width: 100%;
	height: 27%;
}

#topbar {
	min-height: 40px;
	height: 40px;
	margin-bottom: 2px;
	position: relative;
}

.navbar-top {
	float: none !important;
	position: absolute;
	right: 0;
	margin-right: 3%;
	list-style: none;
	list-style-type: none;
	margin-top: 10px;
}

.navbar-top li {
	display: inline;
	padding: 10px 10px 10px 10px;
}

.navbar-top li span {
	font-size: 16px;
}

#logo_wrapper {
	width: 100%;
	max-height: 100%;
	height: 175px;
}

#header_logo {
	max-width: 100%;
	max-height: 100%;
}

li.userbox {

}

li.userbox a {
	text-decoration: none;
	font-weight: bold;
}

li.userbox a:hover {
	/*color: #2B4923;*/
}

li.userbox img {
	display: none;
	max-height: 23px;
	margin-right: 5px;
	margin-top: -4px;
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff;
}


/* Container */

#container{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 3% 3% 0% 3%;
	padding-bottom: 40px !important;
	display: block;
	overflow: hidden;
}

/* Home container */

#homepagecontent {
	height: auto;
	display: block;
	width: auto;
	margin-top: 20px;
	margin-left: 260px;
	overflow: auto;
	/*border: 1px solid red;*/
}


/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 30px;
  padding: 5px 5px 5px 5px;
  background-color: #eee;
  text-align: center;
  font-size: 12px;
}

#footer p {
	margin: 0px;
	padding: 0px;
}


/* General styless */

.loep_button {
	background-color: #2B4923;
	border: 1px solid #373736;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
	color: white;
	border-radius: 4px;
	opacity: 0.9;
	padding: 1px 6px;
	display: inline-block;
	text-align: center;
	min-width: 70px;
	margin-bottom: 6px;
	cursor: pointer;
}

.loep_button:hover {
	opacity: 1;
	text-decoration: none;
	color: white;
}

input.loep_input {
	width: 50%;
}

textarea.loep_input {
	width: 50%;
	max-height: 200px;
}

select.loep_input {
	width: 50%;
	margin-top: 2px;
	margin-bottom: 3px;
	padding: 5px;
}

input.loep_input[readonly="readonly"], textarea.loep_input[readonly="readonly"] {
	background: #F0F0F0;
}

.show_wrapper input.loep_input {
	width: 80% !important
}

.loep_form_wrapper {
	padding: 0% 10% 0% 10%;
}

.loep_form_wrapper select.loep_input[multiple='true'] {
	width: 50%;
}

.multiselect2search {
	position: absolute;
	right: 9px;
	z-index: 9999;
	top: 7px;
	cursor: pointer;
	pointer-events: none;
}

/* Same tag css for the whole application */
span.tag {
	border: 1px solid #a5d24a;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: block;
	float: left;
	padding: 5px;
	text-decoration: none;
	background: #cde69c;
	color: #638421;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: helvetica;
	font-size: 13px;
}

.select2-search-choice {
	border: 1px solid #a5d24a !important;
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	text-decoration: none !important;
	background: #cde69c !important;
	color: #638421 !important;
	margin-right: 5px !important;
	margin-bottom: 5px !important;
	font-family: helvetica !important;
	font-size: 13px !important;
	padding: 5px 5px 5px 18px !important;
}

#homepagecontent .loep_form_wrapper {
	padding: 0% 4% 0% 4% !important;
}

p.form_legend {
	margin-top: 5px;
	margin-bottom: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

p.form_legend_inline {
	display: inline;
}

div.form_checkbox_wrapper {
	margin-top: 8px;
}

.loep_form_wrapper p.form_legend {
	margin-top: 8px;
}

.loep_form_wrapper h3 {
	color: #999;
	font-size: 16px;
}

.loep_form_wrapper h4 {
	margin-top: 20px;
	font-size: 22px;
}

p.form_before_button {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10px;
}

.loep_title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 32px;
	line-height: 1;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1px;
}

.loep_title_min {
	font-size: 25px !important;
}

.loep_title_with_bottom_margin {
	margin-bottom: 10px;
}

p.link_wrapper {
	text-align: right;
	padding-right: 5px;
}


/* loep table for forms */

table.loep_table_form {
}

table.loep_table_form td {
	padding: 5px 10px 5px 10px;
}

table.loep_table_form td span {
	margin-left: 8px;
	margin-right: 5px;
}

table.loep_table_form_view td:not(.tdchecked) {
	opacity: 0.3;
}

table.loep_table_form_view .tdchecked {
	font-weight: bold;
}

/* loep table */

table.loep_table {
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size: 13px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table.loep_table:not(.dataTable) {
	margin-top: 8px;
}

table.loep_table a:link, table.loep_table a:visited {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

table.loep_table a:active,
table.loep_table a:hover {
	color: #bd5a35;
}

table.loep_table th {
	font-size: 14px;
	text-align: center;
	padding: 21px 15px 22px 15px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table.loep_table th:active {
	outline: none;
}

table.loep_table th:first-child {
	padding-left:20px;
}

table.loep_table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}

table.loep_table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}

table.loep_table tr {
	padding-left:20px;
}

table.loep_table td:first-child {
	padding-left:20px;
	border-left: 0;
}

table.loep_table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table.loep_table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

table.loep_table tr:last-child td {
	border-bottom:0;
}

table.loep_table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}

table.loep_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

table.loep_table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

table.loep_table .glyphicon {
	font-size: 18px;
}

table.loep_table td.tdcenter {
	text-align: center;
}

table.loep_table td.tdedit {
	min-width: 85px;
}

table.loep_table td.tddestroy {
	min-width: 112px;
}

table.loep_table th.longhead {
	padding: 8px 8px 8px 8px;
}

table.loep_table td.tdseparator {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
	padding: 3px !important;
}

table.loep_table tr.trpointer {
	cursor: pointer;
}

table.loep_table tr.loeprowselected {
}
table.loep_table tr.loeprowselected td {
	background: #ffc;
}

div.loep_table_tools {
	width: 100%;
	background: #f2f2f2;
	height: 40px;
	margin-bottom: -6px;
	padding-bottom: 0px;
	margin-top: 10px;
	border: #ccc 1px solid;
	text-align: right;
	/*display: none;*/
}

div.loep_table_tools a {
	text-decoration: none;
}

div.loep_table_tool {

}

div.loep_tool_button {
	cursor: pointer;
	background-color: rgba(247, 247, 247, 0.86);
	color: #444;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
	opacity: 0.9;
	display: inline-block;
	min-width: 70px;
	padding: 1px 6px;
	margin: 5px 20px 5px 20px;
}

div.loep_tool_button:hover {
	background-color: rgba(247, 247, 247, 0.86);
	color: #222;
	border: 1px solid rgba(0,0,0,0.2);
	opacity: 1;
}

span.loep_tool_text {
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

/* Sorting and Pager of Tables */

div.dataTables_wrapper .fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-tl.ui-corner-tr.ui-helper-clearfix, div.dataTables_wrapper .fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-bl.ui-corner-br.ui-helper-clearfix {
	background: #f6f6f6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
	height: 44px;
	border: #ccc 1px solid;
}

div.dataTables_wrapper .fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-tl.ui-corner-tr.ui-helper-clearfix {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	-khtml-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-khtml-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

div.dataTables_wrapper .fg-toolbar.ui-toolbar.ui-widget-header.ui-corner-bl.ui-corner-br.ui-helper-clearfix {
	margin-bottom: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top: none;
}

.dataTables_length {
	width: 40%;
	float: left;
	margin-top: 5px;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_wrapper .ui-toolbar {
	padding: 5px;
}

.dataTables_info {
	width: 50%;
	float: left;
	margin-top: 5px;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	width: auto;
	margin-top: 3px;
	margin-right: 0px;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	color: #333 !important;
}

table.loep_table thead th div.DataTables_sort_wrapper {
	position: relative;
}

table.loep_table thead th[role='columnheader'][aria-controls] div.DataTables_sort_wrapper {
	padding-right: 20px;
}

table.loep_table thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

.dataTables_filter input {
	padding: 3px;
}


/* Emtpy table style */

div.empty_table {
	font-size: 23px;
	padding: 25px 25px 25px 25px;
	text-align: center;
	color: #666;
}

/* Show views */

p.show_legend, p.show_value {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 1px;
}

p.show_legend, p.show_legend span.show_legend {
	font-size: 15px;
	font-weight: bold;
}

p.show_legend {
	margin-top: 10px;
}

p.show_sublegend {
	font-size: 14px;
	font-weight: normal;
	margin-top: 5px;
	color: #ccc;
}

p.show_value, p.show_legend span.show_value {
	font-size: 14px;
	font-weight: normal;
}

.show_wrapper .tagsinput {
	height: auto;
	width: auto;
	border: none;
	padding-left: 0px;
}


p.space_large {
	margin-top: 0px;
	margin-bottom: 50px;
}

p.space_medium {
	margin-top: 0px;
	margin-bottom: 35px;
}

p.space_small {
	margin-top: 0px;
	margin-bottom: 18px;
}

span.authTokenEntry {
	font-size: 12px;
}

/* Rails Errors */

.field_with_errors {
	display: inline;
}

/* Identation */

.identationOne {
	margin-left: 25px;
}