/* Layout */

html, body {
	margin:0;
	padding:0;
	height:100%
}

body > iframe {
	display: none;
}

#wrapper{
	width: 100%;
	min-height:100%;
	position: relative;
}


/* Header */

#header {
	text-align: center;
	width: 100%;
	height: 27%;
}

#topbar {
	min-height: 40px;
	height: 40px;
	margin-bottom: 2px;
	position: relative;
}

.navbar-top {
	float: none !important;
	position: absolute;
	right: 0;
	margin-right: 3%;
	list-style: none;
	list-style-type: none;
	margin-top: 10px;
}

.navbar-top li {
	display: inline;
	padding: 10px 10px 10px 10px;
}

.navbar-top li span {
	font-size: 16px;
}

#logo_wrapper {
	width: 100%;
	max-height: 100%;
	height: 175px;
}

#header_logo {
	max-width: 100%;
	max-height: 100%;
}

li.userbox {

}

li.userbox a {
	text-decoration: none;
	font-weight: bold;
}

li.userbox a:hover {
	/*color: #2B4923;*/
}

li.userbox img {
	display: none;
	max-height: 23px;
	margin-right: 5px;
	margin-top: -4px;
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff;
}


/* Container */

#container{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 3% 5% 0% 5%;
	padding-bottom: 40px !important;
	display: block;
	overflow: hidden;
}

/* Home container */

#homepagecontent {
	height: auto;
	display: block;
	width: auto;
	margin-top: 20px;
	margin-left: 275px;
	/*border: 1px solid red;*/
}


/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 30px;
  padding: 5px 5px 5px 5px;
  background-color: #eee;
  text-align: center;
  font-size: 12px;
}


/* General styless */

.loep_button {
	background-color: #2B4923;
	border: 1px solid #373736;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
	color: white;
	border-radius: 4px;
	opacity: 0.9;
	padding: 1px 6px;
	display: inline-block;
	text-align: center;
	min-width: 70px;
	margin-bottom: 6px;
}

.loep_button:hover {
	opacity: 1;
	text-decoration: none;
	color: white;
}

input.loep_input {
	width: 50%;
}

textarea.loep_input {
	width: 50%;
	max-height: 200px;
}

select.loep_input {
	width: 50%;
	margin-top: 2px;
	margin-bottom: 3px;
}

.loep_form_wrapper {
	padding: 0% 10% 0% 10%;
}

p.form_legend {
	margin-top: 5px;
	margin-bottom: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

p.form_legend_inline {
	display: inline;
}

div.form_checkbox_wrapper {
	margin-top: 8px;
}

.loep_form_wrapper p.form_legend {
	margin-top: 8px;
}

p.form_before_button {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10px;
}


/* loep table for forms */

table.loep_table_form {
}

table.loep_table_form td {
	padding: 5px 10px 5px 10px;
}

table.loep_table_form td span {
	margin-left: 8px;
	margin-right: 5px;
}


/* loep table */

table.loep_table {
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size: 13px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin: 20px;
	margin-left: 0px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table.loep_table a:link, table.loep_table a:visited {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

table.loep_table a:active,
table.loep_table a:hover {
	color: #bd5a35;
}

table.loep_table th {
	font-size: 14px;
	text-align: center;
	padding: 21px 25px 22px 25px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table.loep_table th:first-child {
	padding-left:20px;
}

table.loep_table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}

table.loep_table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}

table.loep_table tr {
	padding-left:20px;
}

table.loep_table td:first-child {
	padding-left:20px;
	border-left: 0;
}

table.loep_table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table.loep_table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

table.loep_table tr:last-child td {
	border-bottom:0;
}

table.loep_table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}

table.loep_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.loep_table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

table.loep_table .glyphicon {
	font-size: 18px;
}

table.loep_table td.tdcenter {
	text-align: center;
}

table.loep_table td.tdedit {
	min-width: 85px;
}

table.loep_table td.tddestroy {
	min-width: 108px;
}