<p><%=t("devise.reset_password.hello", :user => @resource.email)%></p>

<p><%=t("devise.unlock.a")%></p>

<p><%=t("devise.unlock.b")%></p>

<p><%= link_to t("devise.unlock.unlock_account"), unlock_url(@resource, :unlock_token => @token) %></p>
