<% fullHTMLmessage ||= false %>
<% fullmessage ||= false %>
<div class="empty_table">
		<% if fullHTMLmessage.blank? %>
			<p>
				<% if !fullmessage.blank? %>
					<%= fullmessage %>
				<% else %>
					<%=t("words.no_resources_yet", :resources => resources)%>
				<% end %>
			</p>
		<% else %>
			<%= fullHTMLmessage.html_safe %>
		<% end %>
</div>