<!DOCTYPE html>
<html>
<head>
  <title>
    <%if !@title.blank?%>
      <%=@title%>
    <%elsif !@evmethod.blank?%>
      <%=@evmethod.name%>
    <%end%>
  </title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>
<body class="loep_embed_layout">
  <%= render 'application/common_js' %>
  <%= yield %>
</body>
</html>
